.Kredit__ctn{
    
}

.Kredit__ul{
    display: flex;
    justify-content: space-between;
}

.Kredit__item{
    display: block;
    width: 300px;
    height: 462px;
    border-radius: 28px;
    background-color: #E2E7E2;
    background-image: url('../../images/1d2d8a12-049a-478a-9e90-f8e6d3e7a04f\ 1.png');
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 45px;
}

h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-left: 15px;
    margin-right: 50px;
    margin-top: 40px;

}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    width: 252px;
    height: 29px;
    margin-left: 25px;
    margin-top: 30px;
    

}